$font-family: 'latohairline';

$font-family-second: 'latoregular';

$latothin: 'latothin';

$latolight: 'latolight';

$latobold: 'latobold';

$bebasbold: 'bebas_neuebold';

$grid-width: 8.33%;

$colorviolet: #9f449b;

$colorgrey: #565d67;

$icon-font: 'Glyphter';

$helvetica: Helvetica, Arial, sans-serif;