@import "partials";
@import "variables";
@import "functions";
@import "mixins";

* {
 margin: 0;
 box-sizing: border-box;
}



   //stylowanie nava
   //&:hover {
   //  fill: $colorviolet;
   //  stroke: $colorviolet;
   //  fill-opacity: 1.0;
   //}



//grid

.main_width {
  width: 80%;
  border: 1px solid pink;
  margin: auto;
}


.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.row:before, .row:after {
  content : "";
  display : table;
  clear: both;



}

[class*="col-"]{ //znajdź mi takie elementy w htmlu, które zawierają col-
  float : left;
  min-height : 1px;
  width : 8.33%;
  border: 2px solid black;

}

@function grid-width($n) {
  @return $n * $grid-width;
}

@for $gridIterator from 1 through 12 {
  .col-#{$gridIterator}{
    width: grid-width($gridIterator);
  }
}



//header

header {
  background-image: url("../images/base.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 0;
  width: 100%;
  padding-bottom: 90%;
  text-align: center;

  h3 {
    font-family: existencelight;
    font-size: 5em;
    color: white;
    padding-top: 10%;
    padding-bottom: 3%;

    span {
      color: #9f449b;
    }
  }
  h4 {
    font-family: $font-family;
    color: white;
    font-size: 2.5em;
  }

  p {
    font-family: $font-family;
    color: white;
    font-size: 1.3em;
    padding: 5%;
  }

.header-nav {
  border: 1px solid blue;
  margin-top: 19%;

    .col-2 {
      background-image: url("../images/Shape%202.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 98%;
      border: 1px solid orangered;
      padding-bottom: 20%;
      color: white;
      position: relative;
      vertical-align: middle;



    }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        //padding-top: 80%;
        position: absolute;
        top: 20%;
        width: 40%;
        left: 30%;

      }

    .topnav {
        margin-top: -16%;

        img {
          top: 30%;
        }
      }

  }

  .scroller {
    background-image: url("../images/Shape%202.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    border: 1px solid orangered;
    padding-bottom: 15%;
    color: white;
    position: relative;
    vertical-align: middle;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 44%;
      width: 3%;
      left: 48.7%;

    }

  }

  //mobile menu

  .notVisible {
    display: none;
  }

  .menuBtn span {
    display: block;
    width: 20px;
    height: 5px;
    margin: 4px 0;
    background: #fff;
    border-radius: 30%;
    //z-index: 99;
  }

  .mobileNav {
    width: 100%;
    font-family: $font-family;

    a {
      text-decoration: none;
      color: #fff;
    }

    ul {
      padding: 19%;
    }

    li {
      padding: 5px;
      list-style: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }

  .mobileMenu {
    width: 80%;
    @include transparentViolet(0.9);
    overflow: visible;
    position: fixed;
    z-index: 999;

  }


  //sticky menu



}