@import "partials";
@import "variables";
@import "functions";
@import "mixins";
@import "slick.css";
@import "slick-theme.css";

* {
  margin: 0;
  box-sizing: border-box;
}



//stylowanie nava
//&:hover {
//  fill: $colorviolet;
//  stroke: $colorviolet;
//  fill-opacity: 1.0;
//}



//------------------------------------grid------------------------------------

.main_width {
  width: 80%;
  border: 1px solid pink;
  margin: auto;

  @include bp(iphone) {
    width: 90%
  }
}


.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.row:before, .row:after {
  content : "";
  display : table;
  clear: both;
}

[class*="col-"]{ //znajdź mi takie elementy w htmlu, które zawierają col-
  float : left;
  min-height : 1px;
  width : 8.33%;
  border: 2px solid black;

}

@function grid-width($n) {
  @return $n * $grid-width;
}

@for $gridIterator from 1 through 12 {
  .col-#{$gridIterator}{
    width: grid-width($gridIterator);
  }
}



//------------------------------------header------------------------------------

header {
  background-image: url("../images/base.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 0;
  width: 100%;
  padding-bottom: 53%;
  text-align: center;

  @include bp(large-screen) {background-size: cover;}
  @include bp(iphone5-landscape) {padding-bottom: 155%;}
  @include bp(iphone-portrait) {padding-bottom: 222%;  }
  @include bp(iphone6-portrait) {padding-bottom: 175%;  }
  @include bp(iphone6-landscape) {padding-bottom: 103%;  }

  h3 {
    font-family: existencelight;
    font-size: 3.5rem;
    color: white;
    padding-top: 3%;
    padding-bottom: 2%;

    span {
      color: #9f449b;
    }


    //@include bp(iphone) {
    //  font-size: 3rem;
    //}

    @include bp(iphone-portrait) {font-size: 2.5rem; padding-top: 6%; }

  }

  h4 {
    font-family: $font-family;
    color: white;
    font-size: 1.4rem;
  }

  p {
    font-family: $font-family;
    color: white;
    font-size: 1rem;
    padding: 2% 4%;
  }

  .header-nav {
    border: 1px solid blue;
    margin-top: 14%;
    @include bp(iphone6-landscape) {margin-top: 1%;}
    @include bp(iphone6-portrait) {margin-top: 0;}


    .headerIcon {
      background-image: url("../images/Shape2.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 98%;
      border: 1px solid orangered;
      padding-bottom: 20%;
      color: white;
      position: relative;
      vertical-align: middle;

      &:hover {
        background-image: url("../images/icons/violet.svg");
        background-size: 98%;

      }
      @include bp(iphone-portrait) {padding-bottom: 54%;}
      @include bp(iphone5-landscape) {padding-bottom: 33%; background-size: 61%;}
      //@include bp(iphone6-portrait) {padding-bottom: 175%;  }
      @include bp(iphone6-landscape) {padding-bottom: 21%; background-size: 37%;}
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      //padding-top: 80%;
      position: absolute;
      top: 30%;
      width: 40%;
      left: 30%;

      @include bp(iphone5-landscape) {  top: 26%;  width: 30%;  left: 35%;  }
      @include bp(iphone6-landscape) {top: 15%;  width: 22%;  left: 39%;  }
    }

    .topnav {
      margin-top: -15%;

      img {
        top: 30%;
      }
    }

  }

  .scroller {
    background-image: url("../images/Shape2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6%;
    border: 1px solid orangered;
    padding-bottom: 8%;
    color: white;
    position: relative;
    vertical-align: middle;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 37%;
      width: 3%;
      left: 48.55%;

    }

    //@include bp(iphone) {
    //  margin-top: 45%;
    //}
    //
    //@include bp(iphone-portrait) {
    //  margin-top: 58%;
    //}

  }

}

//------------------------------------mobile menu------------------------------------

.notVisible {
  display: none;
}

.menuBtn span {
  display: block;
  width: 20px;
  height: 5px;
  margin: 4px 0;
  background: $colorviolet;
  border-radius: 30%;
  //z-index: 99;
}

.mobileNav {
  width: 100%;
  font-family: $font-family;

  a {
    text-decoration: none;
    color: #fff;
    display: block;
  }

  ul {
    padding: 5%;
  }

  li {
    padding: 5px;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-size: 0.8rem;

    @include bp(iphone-portrait) {
      font-size: 2rem;
    }
  }
}

.mobileMenu {
  width: 70%;
  @include transparentViolet(0.9);
  overflow: visible;
  position: fixed;
  z-index: 999;

}


//------------------------------------sticky menu------------------------------------

.sticky_menu {
  background-color: #fff;
  //height: 20%;
  padding: 1% 0%;

  a {
    @include bp(iphone) {
      display: none;
    }

    @include bp(iphone-portrait) {
      display: none;
    }
  }

  ul {
    vertical-align: middle;
    text-align: right;
    height: 100%;

    @include bp(iphone) {
      display: none;
    }

    @include bp(iphone-portrait) {
      display: none;
    }
  }

  li {
    display: inline;
    list-style: none;
    @include fontLato($font-family-second, 0.8rem, #676767, Uppercase);
    padding-right: 1%;
  }


}

//------------------------------------ sticky class------------------------------------

.sticky {
  position: fixed;
  //width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

//------------------------------------grey section with merits------------------------------------

.merits {
  background-color: #eeeeee;
  text-align: center;
  height: 40rem;

  @include bp(iphone-portrait) {  height: 51rem;  }
  @include bp(iphone5-landscape) {  height: 60rem;  }
  @include bp(iphone6-portrait) {  height: 52rem;  }
  @include bp(iphone6-landscape) {  height: 36rem;  }

  .grey {
    margin-top: 10%;
    @include bp(iphone6-portrait) {margin-top: 5%;}
    @include bp(iphone6-landscape) { margin-top: 0;}
  }

  h1 {
    @include fontLato($icon-font, 3rem, #ccd0d2, Uppercase);
    background-image: url('../images/Shape2.svg');
    background-position: center;
    background-repeat: no-repeat;
    stroke: #ccd0d2;
    background-size: 80%;
    padding-top: 50%;
    padding-bottom: 50%;
    //transition: 1s;

    &:hover {
      @include fontLato($icon-font, 3rem, $colorviolet, Uppercase);
      background-image: url("../images/Shape2violet.svg");
    }

    @include bp(iphone-portrait) {  background-size: 90%;  font-size: 2rem;  }
    @include bp(iphone5-landscape) {  padding-bottom: 39%;  }
    @include bp(iphone6-landscape) { font-size: 2rem;  background-size: 34%;  padding-top: 19%;  padding-bottom: 17% }

  }

  h3 {
    @include fontLato($font-family-second, 1rem, #676767, lowercase);
    margin-bottom: 25%;

    @include bp(iphone-portrait) { font-size: 0.8rem; }
    @include bp(iphone5-landscape) {  margin-bottom: 12%; }
    @include bp(iphone6-landscape) {  margin-bottom: 5%; }
  }

  p {
    @include fontLato($font-family-second, 0.8rem, #676767, lowercase);
    padding: 0% 10% 15% 10%;
  }

}


//------------------------------------ABOUT US------------------------------------

.about_us {
  background-color: #fff;
  padding-bottom: 4rem;


  .about {
    position: relative;
  }

  h2 {
    @include head2;
    @include bp(iphone-portrait) {@include headPhone;}
    @include bp(iphone5-landscape) {@include headPhone;}
  }


  .mockup {

    img {
      width: 98%;
      @include bp(iphone6-landscape) { width: 55%;  margin-left: 26%;}
    }

    @include bp(iphone-portrait) {  margin-bottom: 1rem; }
    @include bp(iphone5-landscape) { margin-bottom: 1rem; }
  }

  .aboutText {
    //height: 20rem;

    p {
      @include fontLato($font-family-second, 0.8rem, #676767, none);
      line-height: 170%;
      padding-left: 4%;
      opacity: 0.5;

      @include bp(iphone-portrait) { padding-left: 0;  height: 13rem;  }
      @include bp(iphone5-landscape) { padding-left: 0;  height: 11rem;  }
      @include bp(iphone6-landscape) { padding-left: 0;  height: 9rem;  }
    }

    button {
      display: inline;
      position: absolute;
      bottom: 5px;
      @include buttonStyling;

    }
  }
}

//------------------------------------QUOTE------------------------------------

.quote {
  background-image: url("../images/base2.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 6rem;
  background-position: center;
  width: 100%;

  h1{
    @include fontLato($icon-font, 3rem, #fff, Uppercase);
    text-align: center;
    background-image: url('../images/Shape2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
    padding-top: 12%;
    padding-bottom: 10%;

    @include bp(iphone-portrait) {
      background-size: 40%;
    }

    @include bp(iphone5-landscape) {
      background-size: 30%;
    }
  }

  p {
    @include fontLato($font-family-second, 2rem, #fff, none);
    text-align: center;
  }
}

//------------------------------------OUR TEAM------------------------------------

.our_team {
  h2 {
    @include head2;
    @include bp(iphone-portrait) {@include headPhone;}
    @include bp(iphone5-landscape) {@include headPhone;}
  }


  .violetArrows {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    @include bp(iphone-portrait) {width: 40%;}
    @include bp(iphone5-landscape) {width: 30%;}
    @include bp(iphone6-landscape) {width: 30%;}
    a {
      width: 40%;
      display: inline-block;

      img {
        width: 50%;
        @include bp(iphone-portrait) {width: 91%;}
        @include bp(iphone5-landscape) {width: 80%; }
        @include bp(iphone6-landscape) {width: 80%; }

      }

    }
  }


  ul {
    padding-left: 0;
    text-align: center;
    margin-top: 3.5rem;
    @include bp(iphone-portrait) {margin-top: 1.5rem;}
    @include bp(iphone5-landscape) {margin-top: 1.5rem;}
    @include bp(iphone6-landscape) {margin-top: 1.5rem;}

    li {
      display: inline-block;
      list-style: none;
      width: 30%;
      border: 1px solid red;

      @include bp(iphone-portrait) {width: 100%;}
      @include bp(iphone5-landscape) {width: 100%;}
      @include bp(iphone6-landscape) {width: 100%;}
      @include bp(iphone6-portrait) {width: 100%;}

      a {
        img {
          width: 70%;
          border-radius: 50%;
          @include bp(iphone-portrait) {width: 60%;}
          @include bp(iphone5-landscape) {width: 25%;}
          @include bp(iphone6-landscape) {width: 20%;}
        }
      }

      h4 {
        @include fontLato('latobold', 1rem, #484848, Uppercase);
        margin-bottom: 8%;
        margin-top: 8%;
        text-align: center;
        @include bp(iphone-portrait) {margin-top: 5%; margin-bottom: 5%;}
        @include bp(iphone5-landscape) {margin-top: 3%; margin-bottom: 3%;}
        @include bp(iphone6-landscape) {margin-top: 2%; margin-bottom: 2%;}
      }

      p {
        text-align: center;
        @include fontLato($font-family-second, 0.8rem, #484848, none);
        margin-bottom: 2rem;

        span {
          background-image: url("../images/icons/Base3.svg");
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          padding: 1rem;
          vertical-align: middle;
        }
      }
    }
  }

  .opacity {
    opacity: 0.5;
  }

  .visibility {
    display: none;
  }
}


//------------------------------------OUR SKILLS------------------------------------

.our_skills {

  h2 {
    @include head2;
    @include bp(iphone-portrait) {@include headPhone;}
    @include bp(iphone5-landscape) {@include headPhone;}
  }


  .grid-container {
    width: 90%;
    margin-bottom: 10%;

    p {
      font-family: Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.75rem;
      margin-bottom: 4%;
    }
  }


  .skillDiv {
    padding: 2em;

    @include bp(iphone-portrait) { padding: 0.8em;  }
    @include bp(iphone5-landscape) {  padding: 0.8em;  }


    .progress_grey {
      width:100%;
      height:15px;
      background-color: lightgray;

      .progress {
        width:0;
        height:15px;
        background-color: #9f449b;
        //animation: pulsowanie 3s infinite alternate;
        //-moz-animation: pulsowanie 3s infinite alternate;
        //-webkit-animation: pulsowanie 3s infinite alternate;
      }

      @keyframes pulsowanie {
        0% {width:1%;}
        100% {width:100%;}
      }
    }
    //span {
    //  //height: 10px;
    //  //width: 80%;
    //  //padding: 0.em;
    //  background-color: dimgray;
    //  padding-bottom: 12px;
    //  border: 1px solid red;
    //}
    //}
  }


}


// ------------------------------------QUOTE 2------------------------------------
//--



// ------------------------------------STATISTICS------------------------------------

.statistics {
  background-color: #eeeeee;

  .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;

    .stat-count {
      @include fontLato($helvetica, 3rem, black, none);
      text-align: center;
    }

    p {
      @include fontLato($helvetica, 0.8rem, black, none);
      text-align: center;
    }
  }
}

// ------------------------------------ QUOTE SLIDER------------------------------------

.quote_slider {
  margin: 0 auto;
  text-align: center;
  background-color: #eeeeee;
  padding-bottom: 3%;

  .quoteimg {
    width: 10%;
    border-radius: 50%;
    margin: auto;
    //display: block;
  }

  .smartQuote {
    @include fontLato($font-family, 1.3rem, black, none);
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }

  .quoteMan {
    @include fontLato($helvetica, 0.8rem, black, Uppercase);
    text-align: center;
    margin-top: 1rem;
  }
}


// ------------------------------------ PORTFOLIO------------------------------------

.portfolio {

  .buttons{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 2%;

    @include bp(iphone-portrait) {width: 95%;}
    @include bp(iphone5-landscape) {width: 95%;}

    button {
      @include fontLato($font-family-second, 1rem, black, Uppercase);
      //padding: 0.5% 1%;
      text-align: center;
      background-color: white;
      border: 1px solid black;
      border-radius: 3px;
      margin-left: 2%;
      margin-right: 2%;
      width: 5rem;

      @include bp(iphone-portrait) {width: 3rem; font-size: 0.75rem;}

      &:hover {
        border: 1px solid $colorviolet;
        background-color: $colorviolet;
        @include fontLato($font-family-second, 1rem, white, Uppercase);
      }
    }
  }

  h2 {
    @include head2;
    @include bp(iphone-portrait) {@include headPhone;}
    @include bp(iphone5-landscape) {@include headPhone;}
  }

  .project {
    padding: 1%;
    text-align: center;

    .picture {
      border: 1px dotted red;
      position: relative;

      img {
        width: 100%;
      }

      .overlay {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 99%;
        padding: 1%;
        text-align: center;
        @include fontLato($font-family, 15rem, #fff, Uppercase);
        vertical-align: middle;
        @include transparentGrey(0.9);
      }

      .bigImage {
        @include transparentGrey(0.8);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left:0;
        z-index: 999;

        img {
          //margin: auto;
          width:30%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -15%; /*subtract by half width*/
          margin-top: -150px; /*subtract by half height*/

          @include bp(iphone-portrait) {width: 84%; top: 61%; left: 23%; }
          @include bp(iphone5-landscape) {width: 70%; top: 61%; left: 30%; }
        }
      }

    }

    h4 {
      @include fontLato($font-family, 1.2rem, black, none);
      @include bp(iphone-portrait) {@include fontLato($font-family-second, 0.8rem, black, none);}
      @include bp(iphone5-landscape) {@include fontLato($font-family-second, 0.8rem, black, none);}
    }

    p {
      @include fontLato($font-family, 0.8rem, $colorgrey, none);
      @include bp(iphone-portrait) {@include fontLato($font-family-second, 0.8rem, $colorgrey, none);}
      @include bp(iphone5-landscape) {@include fontLato($font-family-second, 0.8rem, $colorgrey, none);}
    }
  }

  .basicbutton {
    margin-left: 44%;
    margin-top: 5%;
    @include buttonStyling;
    @include bp(iphone-portrait) {margin-left: 33%;}
    @include bp(iphone6-portrait) {margin-left: 36%;}
    //@include bp(iphone5-landscape) {;}
  }
}


//------------------------------------ CONTACT ------------------------------------

.getInTouch {
  margin: 2rem 0;


  h2 {
    @include head2;
    @include bp(iphone-portrait) {@include headPhone;}
    @include bp(iphone5-landscape) {@include headPhone;}
  }

  .formInputs {
    display: block;

    input{
      display: block;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      @include fontLato($font-family, 0.8rem, black, none);
      @include bp(iphone-portrait) {padding: 0.5rem; border: 1px solid $colorgrey;}
      @include bp(iphone5-landscape) {padding: 0.5rem; border: 1px solid $colorgrey;}

      &:focus {
        outline: 1px solid $colorviolet;
      }
    }

    .yourmessage {
      height: 180px;
    }

    button {
      @include buttonStyling;
      @include bp(iphone-portrait) {margin-left: 33%; }
      //@include bp(iphone5-landscape) {@include headPhone;}
    }
  }

  .adress {
    padding: 1rem;
    @include bp(iphone-portrait) {padding: 1rem 0;}
    @include bp(iphone5-landscape) {padding: 1rem 0;}

    p{
      @include fontLato($font-family, 1rem, black, none);
      margin-bottom: 1rem;
    }

    & :nth-child(2) {
      @include fontLato($bebasbold, 1.3rem, black, none);
      margin: 3rem 0;
    }
  }

  a {
    img {
      width: 10%;
    }
  }

}
//------------------------------------ FOOTER ------------------------------------

footer {
  padding: 2rem 0;
  border: 2px solid green;
  text-align: center;


  img {
    text-align: center;
  }
}